@using Demo.Models;
@using System.Net.Http.Json;
@inject HttpClient Http

<button class="add-button" @onclick="CreateDomainForm">Create Domain</button>

@foreach (Domain d in DomainsList) 
    {<div class="form-box-@(d.State == FormState.TEMP ? "temp" : d.State == FormState.EDITED ? "edited" : "")">
        <EditForm class="domain-form" Model="@d" FormName="DomainForm">
                            <div class="textarea-box">
                                <p class="label-text">Name</p>
                                <InputText @bind-Value="d.Name"></InputText>
                            </div>
                            <div class="textarea-box">
                                <p class="label-text">Info</p>
                                <InputText @bind-Value="d.Info"></InputText>
                            </div>
                            <input type="hidden" @bind-value="d.Id"/>
                            <div>
                                <button type="btn-success" class="save-button" @onclick="() => SaveDomainProcess(d)">Save</button>
                                <button type="button" class="delete-button" @onclick="() => DeleteDomain(d)">Detach</button>
                            </div>
                         </EditForm>
                         </div>
}

@code {
    [Parameter]
    public List<Domain> DomainsList {get; set;} = new List<Domain>();

    [Parameter]
    public int RelatedHost {get; set;} = 0;

    private async Task CreateDomainForm() {
        List<int> hostsIds = new List<int>();
        hostsIds.Add(RelatedHost);
        DomainsList.Add(new Domain {Name="", Info="", HostIds = hostsIds, State = FormState.TEMP});
    }
    private async Task EditDomain(Domain domain) {
        await Http.PostAsJsonAsync<Domain>("http://127.0.0.1:4108/api/domains/edit", domain);
        domain.State = FormState.SAVED;
        StateHasChanged();
    }
    private async Task CreateDomain(Domain domain) {
        var requestData = new { name = domain.Name, info = domain.Info, HostIds = domain.HostIds};
        HttpResponseMessage? createdPortResponse = await Http.PostAsJsonAsync("http://127.0.0.1:4108/api/domains/create", requestData);
        if (createdPortResponse.IsSuccessStatusCode) {
            Domain createdDomain = await createdPortResponse.Content.ReadFromJsonAsync<Domain>();
            domain.Id = createdDomain.Id;
        }
        domain.State = FormState.SAVED;
        StateHasChanged();
    }

    private async Task SaveDomainProcess(Domain domain) {
        if (domain.State == FormState.TEMP) {
            await CreateDomain(domain);
        } else {
            await EditDomain(domain);
        }
    }

    private async Task DeleteDomain(Domain domain) {
        if (domain.State != FormState.TEMP) {
            await Http.PostAsJsonAsync("http://127.0.0.1:4108/api/domains/delete", domain);
        }
        DomainsList.Remove(domain);
    }
    private void OnInputHandler(Domain domain) {
        if (domain.State == FormState.SAVED) {
            domain.State = FormState.EDITED;
            StateHasChanged();
        }
    }
}