@using Demo.Models;
@using System.Net.Http.Json;
@inject HttpClient Http

<button class="add-button" @onclick="CreateDomainForm">Create Domain</button>

@foreach (Domain d in DomainsList) {
    <div class="form-box-"><EditForm class="domain-form" Model="@d" OnSubmit="EditDomain" FormName="DomainForm">
                            <div>
                                <p class="label-text">
                                Name
                                <InputText @bind-Value="d.Name"></InputText>
                                </p>
                            </div>
                            <div>
                                <p class="label-text">
                                Info
                                <InputText @bind-Value="d.Info"></InputText>
                                </p>
                            </div>
                            <input type="hidden" @bind-value="d.Id"/>
                            <div>
                                <button type="btn-success" class="save-button">Save</button>
                                <button type="btn-danger" @onclick="() => DetachDomain(d)">Detach</button>
                            </div>
                         </EditForm>
                         </div>
}


@code {
    [Parameter]
    public List<Domain> DomainsList {get; set;} = new();
    private async Task EditDomain() {
        Domain? editDomainRequest = await Http.GetFromJsonAsync<Domain>("http://127.0.0.1:4108/api/domains/edit");
    }

    private async Task CreateDomainForm() {
        DomainsList.Add(new Domain {Name = String.Empty, Info = String.Empty});
    }
    private async Task CreateDomain(Domain newDomain) {
        //newDomain
        DomainsList.Add(new Domain {Name = String.Empty, Info = String.Empty});
    }

    private async Task DetachDomain(Domain domain) {
        await Http.PostAsJsonAsync("http://127.0.0.1:4108/api/domains/detach", domain.Id); 
    }
}